/*
 * SCE definitions
 */
 @font-face {
 font-family: 'Ubuntu';
 src: url('../fonts/Ubuntu-Light.ttf') format('truetype');
 font-weight: 300;
 font-style: normal;
 }
 @font-face {
 font-family: 'Ubuntu';
 src: url('../fonts/Ubuntu-LightItalic.ttf') format('truetype');
 font-weight: 300;
 font-style: italic;
  }
 @font-face {
 font-family: 'Ubuntu';
 src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
 font-weight: 400;
 font-style: normal;
 }
 @font-face {
 font-family: 'Ubuntu';
 src: url('../fonts/Ubuntu-Medium.ttf') format('truetype');
 font-weight: 500;
 font-style: normal;
 }
 @font-face {
 font-family: 'Ubuntu';
 src: url('../fonts/Ubuntu-MediumItalic.ttf') format('truetype');
 font-weight: 500;
 font-style: italic;
 }
 @font-face {
 font-family: 'Ubuntu';
 src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
 font-weight: 700;
 font-style: normal;
 }
 @font-face {
 font-family: 'Ubuntu';
 src: url('../fonts/Ubuntu-BoldItalic.ttf') format('truetype');
 font-weight: 700;
 font-style: italic;
 }

* {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-style: normal;
}

li > a {
  padding: 5px;
  -moz-transition: all .2s;
}

a {
  color: rgb(37, 54, 74);
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
       -o-transition: all .2s;
          transition: all .2s;
}

a:hover {
   text-decoration: none;
}

textarea {
  min-height: 100px;
  min-width: 200px;
  max-width: 100%;
  max-height: 130px;
}

hr {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
}

th {
  text-align: center !important;
}

.padding-1 {
  padding: 3% !important;
}

.padding-2 {
  padding: 2% !important;
}

.padding-3 {
  padding: 1% !important;
}

.padding-4 {
  padding: 10px !important;
}

.padding-5 {
  padding: 7px !important;
}

.padding-6 {
  padding: 5px !important;
}

.white-bg {
  background: #f2f2f2;
}

.black-bg {
  background: #202020;
}

.title-1 {
  text-decoration: underline;
  font-size: 40px !important;
  font-weight: bold;
}

.title-2 {
  font-size: 30px !important;
  text-decoration: underline;
  font-weight: bold;
}

.title-3 {
  font-size: 25px !important;
  text-decoration: underline;
  font-weight: bold;
}

.title-4 {
  font-size: 20px !important;
}

.black-row {
  border: 2px solid rgba(30, 30, 30, 1);
  border-radius: 2px;
  margin-top: 0;
  margin-bottom: 0;
}

.blue-row {
  border: 2px solid rgb(23, 34, 47);
  border-radius: 2px;
  margin-top: 0;
  margin-bottom: 0;
}

.separator-row {
  border: 2px solid rgba(34, 36, 34, 0.55);
  border-radius: 1px;
  margin-bottom: 1px;
  margin-top: 1px;
}

.margin-left {
  margin-left: 25px;
}

.margin-top {
  margin-top: 70px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.help-block {
  color: black;
}

.help-block > .jumbotron {
  background:rgb(23, 34, 47);
  color:white;  
}

.help-content {
  padding: 2%;
  text-align: justify;
}

.help-content > p::first-letter {
  font-size: 20px;
  margin-left: 20px;
}

.help-nav > li:hover {
  border-left: 1px solid inherit;
}

.help-nav > li:hover {
  border-left: 1px solid rgb(23, 34, 47);
}

.help-nav > li:active {
  border-left: 2px solid rgb(23, 34, 47);
}

.help-nav > .active {
  border-left: 1px solid rgb(23, 34, 47);
}

.help-nav > li:focus {
  background: inherit !important;
}

ul.help-nav > ul.help-nav > li {
  padding-left: 10px;
  font-size: 12px;
}

ul.help-nav > ul.help-nav > li > a {
  background: inherit !important;
}

.back_img {
  position: fixed !important;
  filter: blur(2px);
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: -999;
  opacity: .9;
}

.img-small {
    width: 64px;
    height: 64px;
}

.img-medium {
  width: 128px;
  height: 128px;
}

.img-large {
  width: 256px !important;
  height: 256px !important;
}

.quote {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.quote-info {
  border-left: 3px solid rgb(119, 185, 217) !important;
  background: rgba(2, 141, 200, .2);
}

.quote-success {
  border-left: 3px solid rgb(73, 209, 0) !important;
  background: rgba(73, 209, 0, .2);
}

.quote-warning {
  border-left: 3px solid rgb(255, 222, 0) !important;
  background: rgba(255, 222, 0, 0.3);
}

.quote-danger {
  border-left: 3px solid rgb(198, 42, 0) !important;
  background: rgba(255, 54, 0, .2);
}

.quote-default {
  border-left: 3px solid rgb(195, 195, 195) !important;
  background: rgba(195, 195, 195, .2);
}

.panel {
  margin-bottom: 15px;
  width: 350px;
  border: 1px solid rgb(150, 150, 150);
  font-weight: 300 !important;
}

.panel-header {
  height: 210px;
  background-size: cover;
  box-shadow: inset 0px 0px 75px black;
}

.panel-profile-img {
  margin-top: -70px;
  border-radius: 100%;
  margin-bottom: 10px;
  border: 3px solid #fff;
}

.panel-body {
  padding: 15px;
}

.btn-out-primary {
  background: inherit;
  color: rgba(3, 103, 145, 1);
  border: 1px solid rgba(3, 103, 145, 1);
  -webkit-transition: all .125s ease-out;
     -moz-transition: all .125s ease-out;
       -o-transition: all .125s ease-out;
          transition: all .125s ease-out;
}

.btn-out-primary:hover {
  background: rgba(3, 103, 145, 1);
  color: white;
}

.btn-out-secondary {
  background: inherit;
  color: rgb(23, 34, 47);
  border: 1px solid rgb(23, 34, 47);
  -webkit-transition: all .125s ease-out;
     -moz-transition: all .125s ease-out;
       -o-transition: all .125s ease-out;
          transition: all .125s ease-out;
}

.btn-out-secondary:hover {
  background: rgb(23, 34, 47);
  color: white;
}

.btn-out-success {
  background: inherit;
  color: rgb(72, 152, 29);
  border: 1px solid rgb(72, 152, 29);
  -webkit-transition: all .125s ease-out;
     -moz-transition: all .125s ease-out;
       -o-transition: all .125s ease-out;
          transition: all .125s ease-out;
}

.btn-out-success:hover {
  background: rgba(72, 152, 29, 1);
  color: white;
}

.btn-out-warning {
  background: inherit;
  color: rgb(226, 197, 8);
  border: 1px solid rgb(226, 197, 8);
  -webkit-transition: all .125s ease-out;
     -moz-transition: all .125s ease-out;
       -o-transition: all .125s ease-out;
          transition: all .125s ease-out;
}

.btn-out-warning:hover {
  background: rgba(226, 197, 8, 1);
  color: white;
}

.btn-out-danger {
  background: inherit;
  color: rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
  -webkit-transition: all .125s ease-out;
     -moz-transition: all .125s ease-out;
       -o-transition: all .125s ease-out;
          transition: all .125s ease-out;
}

.btn-out-danger:hover {
  background: rgba(255, 0, 0, 1);
  color: white;
}

.btn-out-default {
  background: inherit;
  color: rgb(161, 161, 161);
  border: 1px solid rgb(161, 161, 161);
  -webkit-transition: all .125s ease-out;
     -moz-transition: all .125s ease-out;
       -o-transition: all .125s ease-out;
          transition: all .125s ease-out;
}

.btn-out-default:hover {
  background: rgb(161, 161, 161);
  color: white;
}

.sce-btn-danger:focus,
.sce-btn-primary:focus,
.sce-btn-success:focus,
.sce-btn-warning:focus,
.sce-btn-secondary:focus {
  color: white !important;
}

.sce-btn-primary {
  color: white;
  background: rgba(2, 141, 200, 1);
  -webkit-transition: all .125s ease-out;
     -moz-transition: all .125s ease-out;
       -o-transition: all .125s ease-out;
          transition: all .125s ease-out;
}

.sce-btn-primary:hover {
  background: rgba(3, 103, 145, 1);
  color: white;
}

.sce-btn-secondary {
  color: white;
  background: rgb(37, 54, 74);
  -webkit-transition: all .125s ease-out;
     -moz-transition: all .125s ease-out;
       -o-transition: all .125s ease-out;
          transition: all .125s ease-out;
}

.sce-btn-secondary:hover {
  background: rgb(23, 34, 47);
  color: white;
}

.sce-btn-success {
  color: white;
  background: rgba(92, 195, 36, 1);
  -webkit-transition: all .125s ease-out;
     -moz-transition: all .125s ease-out;
       -o-transition: all .125s ease-out;
          transition: all .125s ease-out;
}

.sce-btn-success:hover {
  background: rgba(72, 152, 29, 1);
  color: white;
}

.sce-btn-warning {
  color: white;
  background: rgba(255, 222, 0, 1);
  -webkit-transition: all .125s ease-out;
     -moz-transition: all .125s ease-out;
       -o-transition: all .125s ease-out;
          transition: all .125s ease-out;
}

.sce-btn-warning:hover {
  background: rgba(226, 197, 8, 1);
  color: white;
}

.sce-btn-danger {
  color: white;
  background: rgba(244, 43, 43, 1);
  -webkit-transition: all .125s ease-out;
     -moz-transition: all .125s ease-out;
       -o-transition: all .125s ease-out;
          transition: all .125s ease-out;
}

.sce-btn-danger:hover {
  background: rgba(255, 0, 0, 1);
  color: white;
}

.sce-btn-default {
  background: rgba(221, 221, 221, 1);
  -webkit-transition: all .125s ease-out;
     -moz-transition: all .125s ease-out;
       -o-transition: all .125s ease-out;
          transition: all .125s ease-out;
}

.sce-btn-default:hover {
  background: rgba(196, 193, 193, 1);
}

.sce-dropdown-btn {
  background: inherit;
  color: rgba(34, 54, 74, 1) !important;
  -webkit-transition: all .125s ease-out;
     -moz-transition: all .125s ease-out;
       -o-transition: all .125s ease-out;
          transition: all .125s ease-out;
}

.sce-dropdown-btn:hover,
.sce-dropdown-btn:active,
.sce-dropdown-btn:focus {
  color: rgba(221, 221, 221, 1) !important;
  background: rgba(34, 54, 74, 1) !important;
}

/**
 * Seção de notificação do SCE, escrevi esse porque os padrões do Bootstrap
 * não me satisfazem.
 */
.sce-alert {
  padding: 15px;
  cursor: default;
  border-radius: 2px;
}

.sce-alert-warning {
  background-color: rgba(255, 222, 0, 0.5);
  color: rgba(195, 147, 3, 1);
}

.sce-alert-danger {
  background-color: rgba(255, 54, 0, 0.5);
  color: rgba(205, 1, 1, 1);
}

.sce-alert-info {
  background-color: rgba(2, 141, 200, 0.5);
  color: rgba(2, 84, 161, 1);
}

.sce-alert-success {
  background-color: rgba(73, 209, 0, .5);
  color: rgba(14, 173, 0, 1);
}

.sce-notification {
  width: 100%;
  z-index: 999;
  padding: 15px;
  position: fixed;
  text-align: center;
  opacity: 1 !important;
  border-radius: 0 !important;
}

.sce-notification-warning {
  background-color: rgba(249, 230, 104, 1);
  color: rgba(195, 147, 3, 1);
}

.sce-notification-danger {
  background-color: rgba(255, 156, 156, 1);
  color: rgba(205, 1, 1, 1);
}

.sce-notification-info {
  background-color: rgba(142, 173, 255, 1);
  color: rgba(2, 84, 161, 1);
}

.sce-notification-success {
  background-color: rgba(160, 255, 108, 1);
  color: rgba(14, 173, 0, 1);
}

.link-group {
  border-radius: 2px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, .4);
}

.link-group > .active {
  border-left: 3px solid rgb(37, 54, 74);
}

.link-group > li:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.link-group > li:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.link-group > li {
  border-radius: 0 !important;
  border-left: 3px solid rgba(0, 0, 0, 0);
  margin-top: 0px !important;
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
       -o-transition: all .2s;
          transition: all .2s;
}

.link-group > li:hover {
  border-left: 3px solid rgb(37, 54, 74);
}

.link-group > li:first-child {
  border-top-left-radius: 2px !important;
}

.link-group .link-group > li:first-child {
  border-top-left-radius: 0px !important;
}

.link-group > li > a {
  border-radius: 0;
}

.link-group-title {
  padding: 3%;
  color: #f2f2f2;
  text-align: center;
  background: rgb(37, 54, 74);;
  margin: 0px !important;
}

.link-group-section {
  color: #f2f2f2;
  text-align: center;
  background: rgb(37, 54, 74);;
  margin: 0px !important;
  border-left: 0 !important;
}

.link-group-section > a {
  color: white;
  padding: 2%;
}

.link-group-section > a:focus {
  color: rgb(37, 54, 74);
}

.link-note {
  color: rgb(150, 150, 150);
  background: inherit !important;
}

.link-note:hover {
  color: rgb(37, 54, 74);
}

/* Necessário para funcionar com as animações do JQuery. */
.sce-hide {
  display: none;
}

.tool-info {
  opacity: .6;
  color: #909090;
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
       -o-transition: all .2s;
          transition: all .2s;
}

.tool-info:hover {
  color: #202020;
  opacity: 1;
}

[data-toggle="popover"] {
  cursor:pointer;
}

.dev-background {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url('../../img/code/code.png');
  background-repeat: no-repeat;
}

.dev-background > header {
  color: white;
}

/**
  *
  *  Bootstrap overrides
  *  Obs: In the future I will make the SCE bootstrap version
  */

.navbar { 
  background: white !important;  
}

.navbar .nav > li > a:hover {
  background: rgb(37, 54, 74) !important;
  color: white !important;
}

.navbar .nav > li > a:focus {
  background: rgb(37, 54, 74) !important;
  border-bottom: 2px solid rgb(37, 54, 74);
  color: white !important;
  outline: 0;
}

.navbar .nav > li > .dropdown-menu > li > a:hover {
  background: rgb(37, 54, 74) !important;
  color: white !important;
}

.nav-pills > li > a {
  font-weight: bold;
}

.nav-pills > li > a:hover {
  color: white !important;
  background: rgb(37, 54, 74) !important;
  border-radius: 2px !important;
}

.navbar-default,
.navbar-inverse {
  box-shadow: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.navbar-brand > img {
  margin-top: -11px;
  width: 42px;
  height: 42px;
}

.navbar-inverse {
   background: #202020 !important;
}

.form-control {
    border-radius: 2px !important;
    color: black !important;
}

.form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn,
.jumbotron {
  border-radius: 3px !important;
}

.btn-group > * {
  border-radius: 0px !important;
}

.btn-group > *:first-child {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

.btn-group > *:last-child {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.input-group > input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.input-group-btn > button,
.input-group-btn > .dropdown > button {
  border-left: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.modal-title {
  padding: 2%;
  /*background-image: url();*/
  background-size: cover;
}

select,
textarea,
input[type="text"],
input[type="number"],
input[type="password"] {
  font-weight: 300;
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
  border: 1px solid rgba(37, 54, 74, .8) !important;
}

a:hover {
  color: rgba(37, 54, 74, 1) !important;
}

@media(max-width:986px) {
  .affix {
    position: static;
    width: auto;
    top: 0;
  }
}